*{
    margin: 0px;
    padding: 0px;
    
}
body{
    display: flex;
    justify-content: center;
    background-color: rgb(190, 200, 228);
}
.container{
    /* border: 1px solid; */
    width: 50%;
    padding: 10px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 16px;
}
h1{
      font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 2.5rem;
}
span{
    font-style: italic;
    font-size: 1.5rem;
}
.header{
    margin-bottom: 10px;
    padding: 10px;
}
input{
padding: 5px;
width: 70%;
border: 2px solid rgb(75, 175, 215);
border-radius: 10px;
height: 40px;
}
button{
    padding: 5px;
    width: 20%;
    background-color: rgb(127, 235, 245);
    border-radius: 10px;
    border: none;
    height: 50px;
}
.input{
    padding: 10px;
}
input[type="radio"]{
    width: 16px;
    height: 16px;
    margin-right: 30px;
}
.tasks{
    padding: 10px;
    /* display: flex;
   align-items: center; */
}

.clear{
  margin-left: auto;
  cursor: pointer;
  display: none;
}
.box{
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 10px;
    background-color: #dfddddcf;
    border-radius: 10px;
    margin-bottom: 5px;
}
.box:hover .clear{
    display: block;
}
@media (max-width: 600px) {

  body{
    padding: 10px;
  }

  .container{
    width: 100%;
    margin-top: 0;
    padding: 12px;
    border-radius: 12px;
  }

  h1{
    font-size: 2rem;
    text-align: center;
  }

  span{
    font-size: 1.2rem;
  }

  .input{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  input{
    width: 100%;
    height: 42px;
  }

  button{
    width: 100%;
    height: 44px;
  }

  .box{
    padding: 8px;
  }

  input[type="radio"]{
    margin-right: 12px;
  }

  .clear{
    display: block;
  }
}